/* General Embed Styles */
.embed {
  width: 60%;
  padding-left:5%;
  padding-bottom:10%;
  padding-top:3%;
  margin: 32px auto;
  float: right; /* Add this line to float the embed to the right */
}

/* Styles for the Inner Content of Embeds */
.embed > div {
  display: block;
  justify-content: right;
}

/* Twitter Embed Styles */
.embed.embed-twitter .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

/* Styles for Embed Placeholders */
.embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Play Button Styles */
.embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border-radius: 20px;
  padding: 0; 
}

.embed .embed-placeholder-play button::before {
  margin: auto;
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 4px solid;
  /*
  width: 0
  height: 8px
  top: 4px;
  left: 7px;*/
}
/* Add a new class for the div above the video */

@media only screen and (max-width: 1300px) {
  .embed {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display:block;
  }
}