.contactus {
  color: var(--neutral-color-5);
  display: flex;
  justify-content: space-between; /* To create space between columns */
}

.contactus-wrapper .contactus.block {
  display: flex;
  gap: 100px;
}

.contactus .contactus-details p:first-child {
  margin-top: 0; /* Remove top margin from the first <p> element */
  margin-bottom: 0; /* Remove bottom margin from the first <p> element */
}

.contactus .contactus-details {
  display: flex;
}

.contactus .contactus-details .contactus-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contactus .contactus-details .contactus-details p:last-child {
  padding-top: 20px;
  margin-top: auto;
}

.contactus h4 {
  margin: 10px 0 10px 0;
}

.contactus h5 {
  color: var(--bs-btn-bg);
  margin: 0;
}

@media screen and (max-width: 900px) {
  .contactus {
      flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  .contactus .contactus-details {
      width: 100%; /* Take up full width on smaller screens */
  }

  .contactus .contactus-details p:first-child {
      margin-top: 0; /* Remove top margin from the first <p> element on smaller screens */
      margin-bottom: 0; /* Remove bottom margin from the first <p> element on smaller screens */
  }
}
