.contact-us {
  color: var(--neutral-color-5);
  display: flex;
  justify-content: space-between; /* To create space between columns */
}

.contact-us-wrapper .contact-us.block {
  display: flex;
  gap: 100px;
}

.contact-us .contact-us-details p:first-child {
  margin-top: 0; /* Remove top margin from the first <p> element */
  margin-bottom: 0; /* Remove bottom margin from the first <p> element */
}

.contact-us .contact-us-details {
  display: flex;
}

.contact-us .contact-us-details .contact-us-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-us .contact-us-details .contact-us-details p:last-child {
  padding-top: 20px;
  margin-top: auto;
}

.contact-us h4 {
  margin: 10px 0 10px 0;
}

.contact-us h5 {
  color: var(--bs-btn-bg);
  margin: 0;
}

@media screen and (max-width: 900px) {
  .contact-us {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  .contact-us .contact-us-details {
    width: 100%; /* Take up full width on smaller screens */
  }

  .contact-us .contact-us-details p:first-child {
    margin-top: 0; /* Remove top margin from the first <p> element on smaller screens */
    margin-bottom: 0; /* Remove bottom margin from the first <p> element on smaller screens */
  }
}
