.contact-icon {
  display: flex;
}

.contact-icon picture {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.contact-type {
  color: var(--bs-btn-bg);
}

.contact-value h4 {
  margin: 10px 0;
}
