/*@media only screen and (min-width: 1300px) {
  .childlisting {
    width: 35%;
    float: left;
    box-sizing: border-box;
    height: 40%;
    padding-bottom: 80px;
    text-decoration: none;
  }
}*/

.childlisting-wrapper .childlisting h6 {
  border-top: 1px solid #d8dae0;
  padding: 30px 0;
  margin: 0;
}

.childlisting-wrapper h6 a {
  color: var(--bs-btn-bg);
}
