/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */

  --link-hover-color: #208834;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: #181a20;
  --body-text-color: #484a50;
  --neutral-color-5: #686a70;
  --bs-btn-bg: #208834;
  --bs-btn-hover: #0c7420;
  --bs-body-color: white;

  /* fonts */
  --body-font-family: inter, inter-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Inter";

  /* body sizes */
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 11px;

  /* heading sizes (default for <= 800px) */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 32px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;

  /* ------ */

  /* nav height */
  --nav-height: 94px;
}

@font-face {
  font-family: inter-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local("Arial");
}

/* --- HEADER FONT SIZING --- */
/* Default font sizes: for screens <= 800px */
h1 {
  font-size: var(--heading-font-size-xxl);
  letter-spacing: -0.8px;
  line-height: 64px;
}

h2 {
  font-size: var(--heading-font-size-xl);
  letter-spacing: -0.48px;
  line-height: 40px;
  padding-bottom: 50px;
}

h3 {
  font-size: var(--heading-font-size-l);
  letter-spacing: -0.24px;
  line-height: 32px;
  padding-bottom: 20px;
}

h4 {
  font-size: var(--heading-font-size-m);
  letter-spacing: -0.24px;
  line-height: 28px;
}

h5 {
  font-size: var(--heading-font-size-s);
  letter-spacing: -0.24px;
  line-height: 24px;
}

h6 {
  font-size: var(--heading-font-size-xs);
  letter-spacing: -0.24px;
  line-height: 24px;
}

@media (min-width: 801px) {
  h1 {
    font-size: 32px; /* Estimate for h1 based on the provided values */
  }

  h2 {
    font-size: 28.8px;
  }

  h3 {
    font-size: 22.4px;
  }

  h4 {
    font-size: var(--heading-font-size-m);
  }

  h5 {
    font-size: var(--heading-font-size-s);
  }

  h6 {
    font-size: var(--heading-font-size-xs);
  }
}

@media (min-width: 1073px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: var(--heading-font-size-s);
  }

  h6 {
    font-size: var(--heading-font-size-xs);
  }
}
/* --- --- */

/* special body font classes */

.subtitle {
  font-size: var(--body-font-size-l);
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: -0.24px;
  line-height: 28px;
}

.body-small {
  font-weight: 300;
  font-size: var(--body-font-size-s);
  letter-spacing: -0.24px;
  line-height: 20px;
}

.caption {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  line-height: 16px;
}

.overline {
  font-size: var(--body-font-size-xxs);
  font-weight: 700;
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 20px;
}

.action {
  font-size: var(--body-font-size-s);
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: -0.12px;
  line-height: 20px;
}

/* --- --- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--text-color);
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1,
h2,
h3 {
  font-weight: 500;
}

h4,
h5,
h6 {
  font-weight: 600;
}

body {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  font-weight: 300;
  line-height: 24px;
  color: var(--body-text-color);
  background-color: var(--background-color);
  margin: 0;
  display: none;
}

body.appear {
  display: block;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

header {
  height: var(--nav-height);
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 14px;
  --bs-btn-font-family: inter, inter-fallback;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 1.43;
  --bs-btn-color: var(--bs-body-color);
  /* --bs-btn-bg: transparent;*/
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 2px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 1;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-flex;
  gap: 6px; /* distance between items in button */
  justify-content: center;
  align-items: center;
  letter-spacing: -0.12px;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

a.button:focus,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

a.button:hover,
button:hover {
  background-color: var(--bs-btn-hover);
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

.button-container span.icon {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.button-container .icon img {
  height: 10px;
  width: 10px;
}

/* imgs and icons */

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section,
footer {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .section.latest-articles {
    display: grid;
    grid-template-columns: 35% 65%;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}
